<div class="pop-over__container">
	<button
		#popOverButton
		aria-haspopup="true"
		[appFocusable]="focusableId"
		[isTabbable]="true"
		[attr.aria-expanded]="isExpanded"
		[attr.aria-owns]="'popover_' + cid"
		[class]="'pop-over__toggle ' + buttonOutlineStyle"
		(click)="togglePopover()">
		<ng-content select="[pop-over-button-content]"></ng-content>
	</button>
	<div
		#popOverContent
		*ngIf="isExpanded"
		[class]="'pop-over__content ' + popoverPosition"
		tabindex="-1"
		[id]="'popover_' + cid">
		<ng-content select="[pop-over-content]"></ng-content>
		<button
			aria-label="Close pop over"
			*ngIf="showCloseButton" (click)="close()"
			class="pop-over__close">
			<i class="fa fa-times"></i>
		</button>
	</div>
</div>

