<header>
	<div class="site-title">
		<div class="main">
			Dev-A11y
			<i class="fa fa-universal-access"></i>
		</div>
		<div class="sub">
			A resource for accessibility website developers
		</div>
	</div>
	<div class="right-side">
		<app-font-sizer></app-font-sizer>
		<nav aria-label="Main">
			<app-pop-over
				buttonAriaLabel="Main menu"
				[showCloseButton]="false"
				[popoverPosition]="menuPosition"
				[focusableId]="mainNavigationId">
				<i pop-over-button-content class="fa fa-bars"></i>
				<ul pop-over-content class="nav">
					<li *ngFor="let link of routeItems; trackBy: trackByFn; let i = index">
						<a
							#focusFirst
							*ngIf="i === 0"
							(click)="onLinkClick(link.route)"
							[routerLink]="link.route"
							[class.active]="currentRoute === link.route">
							{{link.text}}
							<span *ngIf="currentRoute === link.route" aria-hidden="true">&#x2B05;</span>
							<span *ngIf="currentRoute === link.route" class="sr-only">(current page)</span>
						</a>
						<a
							*ngIf="i > 0 && i < routeItems.length - 1"
							(click)="onLinkClick(link.route)"
							[routerLink]="link.route"
							[class.active]="currentRoute === link.route">
							{{link.text}}
							<span *ngIf="currentRoute === link.route" aria-hidden="true">&#x2B05;</span>
							<span *ngIf="currentRoute === link.route" class="sr-only">(current page)</span>
						</a>
						<a
							#lastElement
							*ngIf="i === routeItems.length - 1"
							(click)="onLinkClick(link.route)"
							[routerLink]="link.route"
							[class.active]="currentRoute === link.route">
							{{link.text}}
							<span *ngIf="currentRoute === link.route" aria-hidden="true">&#x2B05;</span>
							<span *ngIf="currentRoute === link.route" class="sr-only">(current page)</span>
						</a>
					</li>
				</ul>
			</app-pop-over>
		</nav>
	</div>
</header>
