@import "variables";
@import "mixins";

/*=============================
$DEFAULT STYLES
=============================*/

html, body {
	margin: 0;
	font-family: Helvetica, serif;
}

* {
	line-height: 1.5;
	letter-spacing: 0.08em; // WCAG 1.4.12 says 0.12em but it seems too much;
	word-spacing: 0.16em;
	box-sizing: border-box;

	// remove all focus outlines by default
	*:focus {
		outline: 0;
	}
}

p {
	margin-top: 0;
	margin-bottom: 2em;
}

a {
	color: var(--primary-color);

	&:active,
	&:hover {
		color: var(--black);
	}
}

a,
button,
input,
select,
textarea,
[tabindex="0"] {
	@include focusDefault;

	&:hover,
	&:focus {
		@include focusActive;

		&.outline__white {
			outline: var(--outline-width) solid var(--white);
		}
	}
}

button {
	@include flex(column, center, center);
	cursor: pointer;
	border: 0;
	border-radius: var(--border-radius);
	font-size: 1rem;
	height: var(--min-dimensions);
	padding: var(--button-padding);
	width: var(--min-dimensions);

	&:active {
		outline-offset: 0;
	}
}




/*=============================
$ACCESSIBILITY
=============================*/
.sr-only {
	border: 0 !important;
	clip: rect(0.0625rem, 0.0625rem, 0.0625rem, 0.0625rem) !important;
	clip-path: inset(50%) !important;
	height: 0.0625rem !important;
	margin: -0.0625rem !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 0.0625rem !important;
	white-space: nowrap !important;
}

.block-link {
	@include focusDefault;
	position: relative;

	&:focus-within {
		@include focusActive;
	}

	a[href]::after {
		@include absolute-fill;
		content: '';
		display: block;
	}
}






/*=============================
$BUTTON STYLES
=============================*/
button {
	&.primary,
	&.secondary {
		transition-property: var(--base-transition-properties), background-color;
		font-size: 0.875rem;
	}

	&.primary {
		background-color: var(--primary-color);
		color: var(--white);

		&:hover,
		&:focus {
			background-color: var(--primary-color-dark);
		}
	}

	&.secondary {
		background-color: var(--white);
		color: var(--primary-color);
		box-shadow: inset 0 0 0 0.125rem var(--primary-color);

		&:hover,
		&:focus {
			background-color: var(--primary-color-light);
		}
	}
}
