:root {

	// colors
	--black: #333;
	--bright-grey: #efefef;
	--grey: #aaa;
	--primary-color: #60308D;
	--primary-color-light: #fbe3ff;
	--primary-color-dark: #250d53;
	--white: #fff;


	// spacing
	--content-padding: var(--primary-spacing) var(--primary-spacing-double);

	--margin-horizontal: 0 var(--primary-spacing);
	--margin-vertical: var(--primary-spacing) 0;

	--padding-horizontal: 0 var(--primary-spacing);
	--padding-vertical: var(--primary-spacing) 0;

	--primary-spacing: 0.5rem;
	--primary-spacing-double: 1rem;
	--primary-spacing-half: 0.25rem;


	// element styles
	--border-radius: 0.375rem;
	--button-padding: 0.625em 1em;
	--container-width: 72rem;
	--default-border: 0.0625rem solid var(--black);
	--default-color-border: 0.125rem solid var(--primary-color);
	--outline-offset-blur: 0.75rem;
	--outline-offset-focus: 0.1875rem;
	--outline-width: 0.1875rem;
	--min-dimensions: 2.75rem;


	// animations
	--animation-timer: 200ms;
	--base-outline-transition-properties: outline, outline-offset;
}

$layout-xl-size: 75rem; // 1200px
$layout-lg-size: 62rem; // 992px
$layout-md-size: 48rem; // 768px
$layout-sm-size: 36rem; // 576px
