<app-pop-over
	buttonAriaLabel="Change font size"
	[popoverPosition]="popoverPosition.BottomCentered"
	[showCloseButton]="false"
	>
    <i pop-over-button-content class="fa fa-font"></i>
	<div
		pop-over-content
		class="font-sizer__container">
		<div class="font-sizer__buttons">
			<button (click)="decreaseFontSize()" aria-label="Decrease text size">
				 -
			</button>
			<div>
				{{fontSize}}px
			</div>
			<button	(click)="increaseFontSize()" aria-label="Increase text size">
				+
			</button>
		</div>
		<button
			#lastElement
			class="font-sizer__reset"
			(click)="resetFontSize()"
			aria-label="Reset to default font size">
			Reset
		</button>
	</div>
</app-pop-over>

