@import '../../../../styles/variables';
@import '../../../../styles/mixins';

:host {
  @include flex(row, center, center);
  position: fixed;
  top: 0.5rem;
  width: 100%;
}

button {
  transition: none !important;
  &.skip-link {
     @include hidden-focusable-button;
    font-size: 0.75rem;
  }
}
