@import '../../../../styles/mixins';

footer {
	@include flex(column, flex-start, stretch);

	.footer_content {
		@include flex(row, space-between, center);
		background-color: var(--primary-color);
		color: var(--white);
		padding: var(--content-padding);

		.info {
			.author {
				font-size: 0.875rem;
			}

			.website {
				font-size: 0.75rem;

				a {
					color: var(--white);
				}
			}
		}
	}
}

