<footer [appFocusable]="focusableIds.FOOTER">
	<app-footer-nav></app-footer-nav>
	<div class="footer_content">
		<div class="copyright">
			<i class="fa fa-universal-access"></i>
			&copy; Copyright 2020
		</div>
		<div class="info">
			<div class="author">Site created by Michael Vano</div>
			<div class="website">
				A Senior Consultant at Aquent Dev6. <br />
				<a href="https://dev6.com" target="_blank" class="outline__white">
					Visit the Aquent Dev6 Website
				</a>
			</div>
		</div>
	</div>
</footer>
