<app-page-wrapper
	heading="Welcome to Dev-a11y"
	screenReaderHeading="Welcome to dev-accessibility">
	<p>
		This is an online resource for developers on website accessibility<span aria-hidden="true"> (A11y)</span>.
	</p>
	<p>
		Because the Web Content Accessibility Guidelines (WCAG) can be interpreted in many different ways, please view this website as one interpretation. This is meant as an assistance and resource for web developers working on making their projects accesssible.
	</p>
	<div class="home__links">

	</div>
</app-page-wrapper>
