<app-page-wrapper heading="WCAG Checklist">
	<div class="wcag__container">
		<section [attr.aria-labelledby]="'wcag-filter-heading_' + cid" class="wcag__filter">
			<h2 [id]="'wcag-filter-heading_' + cid" [appFocusable]="focusableIds.WCAG_FILTERS">
				Wcag Filter Options
			</h2>
			<app-wcag-list-filter></app-wcag-list-filter>
		</section>
		<section [attr.aria-labelledby]="'wcag-items-heading_' + cid" class="wcag__list">
			<h2 [id]="'wcag-items-heading_' + cid" [appFocusable]="focusableIds.WCAG_LIST">
				WCAG Items
			</h2>
			<app-wcag-list></app-wcag-list>
		</section>
	</div>
</app-page-wrapper>
