<div class="wcag-filter__container">
	<app-a11y-input
		filterLabel="Filter WCAG Items"
		[useCloseButton]="true"
	>
		<i class="fa fa-filter" post-content></i>
	</app-a11y-input>

	<app-a11y-select
		label="Display Options"
		[options]="displayOptions"
	></app-a11y-select>

	<app-a11y-disclosure summary="WCAG Levels">
		<ul>
			<li>[Checkbox] A</li>
			<li>[Checkbox] AA</li>
			<li>[Checkbox] AAA</li>
		</ul>
	</app-a11y-disclosure>
	<hr />
	<details>
		<summary>Tags</summary>
		<ul>
			<li>Visual</li>
			<li>Text</li>
		</ul>
	</details>
</div>
