<div class="wcag-filter__container">
	<app-a11y-input
		filterLabel="Filter WCAG Items"
		[useCloseButton]="true"
		(onValueChanged)="whenFilterChanged($event)"
		[value]="appliedFilters.search"
	>
		<i class="fa fa-filter" post-content></i>
	</app-a11y-input>

	<app-a11y-select
		label="Sorting Options"
		[options]="sortOptions"
		[selectedOption]="selectedDisplayOption"
		(onOptionSelected)="whenOptionSelected($event)"
	></app-a11y-select>

	<app-a11y-disclosure summary="WCAG Levels" [expanded]="true">
		<app-a11y-checkbox
			*ngFor="let level of wcagLevels; trackBy: trackByFn"
			[label]="level"
			(onStateChanged)="whenWcagLevelChecked($event, level)"
			[checkboxState]="appliedFilters?.levels?.has(level) ? checkboxState.Checked : checkboxState.Unchecked"
		></app-a11y-checkbox>
	</app-a11y-disclosure>

	<hr />

	<app-a11y-disclosure summary="Tags" [expanded]="true">
		<app-a11y-checkbox
			*ngFor="let tag of wcagTags; trackBy: trackByFn"
			[label]="tag"
			(onStateChanged)="whenWcagTagChecked($event, tag)"
			[checkboxState]="appliedFilters?.tags?.has(tag) ? checkboxState.Checked : checkboxState.Unchecked"
		></app-a11y-checkbox>
	</app-a11y-disclosure>
</div>
